header span:nth-last-child(1){
  display: none;
}
  .historia-pokemon{
  display: none;
  }
  .personagens :nth-child(1)  {
    display: none;
  }
  .personagens :nth-child(3)  {
    display: none;
  }
  .treinadores-pokemon{
    display: none;
  }

body{
  font-family: verdana, arial;
  text-align: justify;
  background-color: #FF5016;
  margin:0 auto;
}

.logo{
      margin: auto;
      height: 200px;
      width: auto;
      background: url(http://vignette1.wikia.nocookie.net/chroniclesofillusion/images/1/14/Digimon_Logo.png/revision/latest?cb=20140620005146) no-repeat center;
      background-size: 413px;
      padding: 20px;
}

header{
  font-family: monospace;
  color:#FF5016;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCD44), to(#FF5016)) repeat-X;
  padding: 25px;

}
header span{
  color: blue;
  text-transform: uppercase;
  transition: color 2s;
}
    header span:hover{
      color: #FFCD44;
    }
        nav a{
            text-decoration: none;
        }
              nav span:not(.autenticacao){
                /*background-color: #205E99;*/
                font-family: fantasy;
                color: #fff;
                font-size: 30px;
                margin: auto;
                padding: 30px;
              }
              nav span:nth-child(3){
                margin-left: 17px;
              }
            nav span:not(.autenticacao):hover{
              color:rgb(5,128,187);
            }

.autenticacao a {
  color: #3E6990;
  font-size: 20px;
  font-family: monospace;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  background-color: black;
  border-radius: 40px;
}
      a:hover{
        color:#F7CE5B;
      }

      .autenticacao{
        text-align: right;

      }

.whatever{
      position: absolute;
      margin-top: 254px;
      height: 384px;
      width: 400px;
      float: left;
      margin-left: 10px;
      background: url(http://pre02.deviantart.net/6666/th/pre/i/2014/135/2/f/taichi_adventure_by_deco_kun-d7ih9wd.png)no-repeat;
      background-size: 280px;
}

.historia-digimon{
  margin-top: 85px;
  background-color: rgb(5,128,187);
  background: url(https://images7.alphacoders.com/701/701863.png) no-repeat;
  background-size: 990px;
  padding: 2px;
  height: 553px;
  width: 960px;
  margin-left: 267px;
}

    .historia-digimon h1{
      margin-top: 85px;
      color: #fff;
      font-size: 80px;
      text-align: center;
      padding-right: 327px;
      margin: 20px;
      font-family: fantasy;

    }
    .historia-digimon p{
      padding: 0px 35px;
      font-size: larger;
      color: #fff;
      padding-right: 380px;


    }
          .historia-pokemon p:last-child{
            padding-bottom: 330px;
          }
        .historia-digimon span{
          font-style: italic;
        }
        .historia-digimon a{
          font-style:italic;
          font-weight: bold;
          color: rgb(254,196,54);
          text-decoration: none;
      }


.digiescolhidos{
  width: 354px;
    /* padding-left: 54px; */
    /* background: url(https://images3.alphacoders.com/695/695497.png) no-repeat; */
    /* background: url(https://ncache.ilbe.com/files/attach/new/20150523/377678/5280279053/5868114025/30b67708d9dfc1182e096f4a39483b18.jpg)no-repeat; */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFCD44), to(#EC9F05)) repeat-X;
    /*rgb(254,196,54);*/
    display: inline-block;
    padding: 29px;
    padding-left: 96px;
    margin: 69px 40px 10px 93px;
    border-radius: 20px;
    color:#1B3E63;
    }
  .digiescolhidos:hover{
     transform: scale(1.2);
   }
        .digiescolhidos h3{
          color: rgb(5,128,187);
          font-size: 30px ;
        }
        /*.digiescolhidos li{
          /*list-style-image: url(http://67.media.tumblr.com/avatar_0af03726267c_64.png);*/
          /*list-style-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPoSRQQdhY-fwFuLT1-iP5Hkvl7GUntD2gAwD9ILioEXQbMriI);
        }*/
        .digiescolhidos li{
          list-style-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPoSRQQdhY-fwFuLT1-iP5Hkvl7GUntD2gAwD9ILioEXQbMriI);
        }

.personagens{
      background: -webkit-gradient(linear, left top, left bottom, from(#FFCD44), to(#EC9F05)) repeat-X;
      display: inline-block;
      padding: 29px;
      margin: 69px 40px 10px 112px;
      border-radius: 20px;
      height: 502px;
      width: 305px;
      padding-left: 80px;
      color:rgb(255,80,22);
}
        .personagens h2{
          color:#CE3300;
        }
        .personagens:hover{
          /*-webkit-transform: scale(1.9);
          -ms-transform: scale(1.9);*/
                transform: scale(1.2);
             }

        .personagens li{
          list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAElBMVEX///8AAAD/ZjOZM2ZmZmZmMwCCkRlMAAAArUlEQVQ4jbVT0Q7EIAizIP//y0dRdy7odslFHpYNammRlXIPoDzH3wCoPiMg5wBNHEQ6IomFMDUAQCbyGrzAcC+SG83dl4DoWklQ9+OqftQP17ULeF0MMHUEbhzk5Yi97gxqVOvfHRRFVQkAzSriVZgNS6B5+QL4KCN3kaABjFlrDEg6hkhJIiebJF7bfB/UvEvLvWoy95fVrzvMs0VCXAvT2Dcuzi7tr4ATP+8HcG0CJ8M2EPsAAAAASUVORK5CYII=);
        }


footer{
    /*background-color:  #50739B;*/
    text-align: right;
    height: 15px;
    font-family: monospace, helvetica;
    padding: 10px;
    color: #fff;
    text-align: end;
    font-size: medium;
}
