/*
@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css?family=Raleway') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

@import url("https://fonts.googleapis.com/css?family=Raleway");

body{
  font-family: Raleway, Arial, sans-serif;
  margin: 0;
  background-image: url('https://images.alphacoders.com/723/thumb-1920-723294.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

h1 > span:nth-of-type(1),
.historia-digimon,
.personagens h2:nth-of-type(2),
.personagens ul:last-child,
.digiescolhidos
{
    display: none;
}



a{
  text-decoration: none;
}


header h1, .logo, .autenticacao{
  display: inline;
}

header h1{
  float: left;
  margin-left: 20px;
  margin-top: 13px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.logo{
  padding-top: 100px;
}

@keyframes movement {
  0% { left: 0%; }
  15% { left: 14%; background-image: url('http://vignette1.wikia.nocookie.net/pokemon/images/e/ed/039Jigglypuff_Dream.png/revision/latest?cb=20140910075209'); }
  30% { left: 26%; background-image: url('http://vignette4.wikia.nocookie.net/pokemonfakemon/images/f/fc/Wigglytuff_Dream.png/revision/latest?cb=20110530043618')}
  45% { left: 14%; background-image: url('http://vignette1.wikia.nocookie.net/pokemon/images/e/ed/039Jigglypuff_Dream.png/revision/latest?cb=20140910075209'); }
  70% { left: 0%;   background-image: url('https://static.pokemonpets.com/images/monsters-images-800-800/2174-Shiny-Igglybuff.png');}
}

@media screen and (min-width: 1052px){

  header + nav{
    clear: both;
    background-color: #ffcdc5;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    width: auto;
  border-bottom: 3px solid #e67383;
  }


  header nav a{
    color: #ffffff;
    padding: 15px 15px 19px 15px;
    font-size: 25px;
      border-left: 2.5px solid #e67383;
    background-color: rgba(230, 115, 131, 0.2);
    margin-right: -3px;
  }
  header{
    background-color: #6A5262;
    color: #ffffff;
    height: 65px;
    width: 100%;
      border-bottom: 3px solid #e67383;
  }
  .logo::after{
    position: relative;
    content: "";
    background-image: url('https://static.pokemonpets.com/images/monsters-images-800-800/2174-Shiny-Igglybuff.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
    animation: movement 15s infinite;
    animation-delay: 2s;
  animation-timing-function: ease-in-out;
  }
  .autenticacao{
    float: right;
    margin-top: 16px;
  }
  header + nav a{
    width: auto;
    padding: 0 40px;
    margin: auto ;
    color: #104a8b;
    font-weight: bold;
  }
  .personagens > ul{
      overflow-y: scroll;
      width: 400px;
      height: 552px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }
  .treinadores-pokemon > ul{
      width: 400px;
      height: 552px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  .personagens{
    float: left;
    background-color: rgba(106,82,98, 0.85);
    color: #e6e6e6;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid #e67383;
  }

  .treinadores-pokemon{
    float: right;
    background-color: rgba(106,82,98, 0.85);
    color: #e6e6e6;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 3px solid #e67383;
  }
}

@media screen and (max-width: 1051px) {

  header + nav{
    clear: both;
    background-color: #ffcdc5;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    width: auto;
  border-bottom: 3px solid #e67383;
  }


  header nav a{
    color: #ffffff;
    padding: 15px 15px 19px 15px;
    font-size: 25px;
      border-left: 2.5px solid #e67383;
    background-color: rgba(230, 115, 131, 0.2);
    margin-right: -3px;
  }
  header{
    background-color: #6A5262;
    color: #ffffff;
    height: 65px;
    width: 100%;
      border-bottom: 3px solid #e67383;
  }
  .autenticacao{
    float: right;
    margin-top: 16px;
  }
  .logo::after{ }
  .logo{
    display: none;
  }
  header + nav a{
    width: auto;
    padding: 0 20px;
    margin: auto ;
    color: #104a8b;
    font-weight: bold;
  }


  .personagens > ul{
      overflow-y: scroll;
      width: 370px;
      height: 400px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  .treinadores-pokemon > ul{
      overflow-y: scroll;
      width: 370px;
      height: 400px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  .personagens{
    float: left;
    background-color: rgba(106,82,98, 0.85);
    color: #e6e6e6;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid #e67383;
  }
  .treinadores-pokemon{
    float: right;
    background-color: rgba(106,82,98, 0.85);
    color: #e6e6e6;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 3px solid #e67383;
  }
}

@media screen and (max-width: 865px){

  .personagens > ul{
      overflow-y: scroll;
      width: 300px;
      height: 400px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  .treinadores-pokemon > ul{
      overflow-y: scroll;
      width: 300px;
      height: 400px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }
}

@media screen and (max-width: 789px){
  header + nav a{
    width: auto;
    padding: 0 10px;
    margin: auto ;
    color: #104a8b;
    font-weight: bold;
  }
}

@media screen and (max-width: 722px){
  .autenticacao{
    margin-right: 50px;
    position: relative;
    top: 10px;
        float: left;
        left: 17px;
    margin-top: 16px;
  }
  header{
    background-color: #6A5262;
    color: #ffffff;
    height: 115px;
    width: 100%;
      border-bottom: 3px solid #e67383;

  }

  header nav a{
    color: #ffffff;
    padding: 5px 5px 9px 5px;
    font-size: 25px;
    border-top: 2.5px solid #e67383;
    border-left: none;
      border-right: 2.5px solid #e67383;
    background-color: rgba(230, 115, 131, 0.2);
    margin-right: -3px;
  }
  header nav a:first-child{
    position: relative;
    border-left: 2.5px solid #e67383;
    left: 1px;
  }


  .personagens > ul{
      overflow-y: scroll;
      width: 400px;
      height: 300px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  .treinadores-pokemon{
    float: left;
    background-color: rgba(106,82,98, 0.85);
    color: #e6e6e6;
    margin-bottom: 30px;
    margin-left: 30px;
    border: 3px solid #e67383;
  }

  .treinadores-pokemon > ul{
      width: 400px;
      height: 300px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  header + nav{
    clear: both;
    background-color: #ffcdc5;
    height: 40px;
    text-align: left;
    padding-top: 5px;
    width: auto;
  border-bottom: 3px solid #e67383;
  }

  header + nav a{
    width: auto;

    padding: 0 10px;
    margin: auto ;
    color: #104a8b;
    font-weight: bold;
  }
}

@media screen and (max-width: 489px){
  header{
    background-color: #6A5262;
    color: #ffffff;
    height: 150px;
    width: 100%;
      border-bottom: 3px solid #e67383;

  }
  .autenticacao{
    margin-right: 50px;
    position: relative;
    top: 10px;
        float: left;
        left: 17px;
    margin-top: 16px;
  }
  .personagens > ul{
      overflow-y: scroll;
      width: 300px;
      height: 300px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }

  .treinadores-pokemon > ul{
      width: 300px;
      height: 300px;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
  }
}





header nav a:hover{
    background-color: rgba(230, 115, 131, 0.6);
}

.historia-pokemon{
  background-color: rgba(106,82,98, 0.85);
  color: #e6e6e6;
  border-bottom: 3px solid #e67383;
}

.historia-pokemon h1, p{
  margin: 0 20px 0 20px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.historia-pokemon p:nth-of-type(2){
  padding-bottom: 15px;
}

.historia-pokemon a{
  color: #cdeeff;
  font-weight: bold;
}

.historia-pokemon span{
  font-style: italic;
}



.personagens > h2{
  margin-left: 20px;
  margin-top: 20px;
}

.personagens > ul li{
  padding: 0;
  padding-bottom: 10px;
  padding-left: 25px;
  border-top: 2.5px solid #e67383;
    transition: transform 3s ease-in-out;
    font-size: 17px;
    font-weight: bold;
}

.personagens > ul li::before{
  position: relative;
  content: "";
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 10px;
  background-image: url('https://pokelife.pl/images/zewnetrzna/pokeball6.png');
}

.personagens > ul li:hover{
  background-color: rgba(230, 115, 131, 0.6);
}




.treinadores-pokemon > h2{
  margin-left: 20px;
  margin-top: 20px;
}


.treinadores-pokemon > ul li{
  padding: 0;
  padding-bottom: 10px;
  padding-left: 25px;
  border-top: 2.5px solid #e67383;
    transition: transform 3s ease-in-out;
    font-size: 17px;
    font-weight: bold;
}

.treinadores-pokemon > ul li::before{
  position: relative;
  content: "";
  background-size: 40px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 30px;
  top: 8px;
  right: 13px;
  background-image: url('http://orig03.deviantart.net/e817/f/2013/095/0/e/ash_hat_by_thafake-d60jtlj.png');
}

.treinadores-pokemon > ul li:hover{
  background-color: rgba(230, 115, 131, 0.6);
}

footer{
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
  background-color: #6A5262;
  color: #ffffff;
  height: 20px;
    border-top: 3px solid #e67383;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #a41020;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #a41020;
  -webkit-border-radius: 3px;
}
