
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErroDesconhecido</title>
</head>
<body>
    <h2>Ocorreu um erro desconhecido.</h2>
    <p>Por favor entre em contato com o Nunes.</p>
</body>
</html>
