<div style="border: 1px solid silver;">
    <div>Qual personagem de SF você mais gosta?</div>
    <ul>
        <li><input type="radio" name="enquete"> Ryu</li>
        <li><input type="radio" name="enquete"> Ken</li>
        <li><input type="radio" name="enquete"> Blanka</li>
        <li><input type="radio" name="enquete"> Chun-li</li>
        <li><input type="radio" name="enquete"> Mr. Bison</li>
        <li><input type="radio" name="enquete"> Akuma</li>
        <li><input type="radio" name="enquete"> Guile</li>
    </ul>
</div>
