@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Street Fighter - Inicio</title>
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>

<body>
    <div class="menu">
        <span class="item">
            <a href="~/StreetFighter/Index">Inicio</a>
        </span>
        <span class="item">
            <a href="https://www.google.com.br/search?q=Street+Fighter&tbm=nws">Noticia</a>
        </span>
        <span class="item">
            <a href="~/StreetFighter/FichaTecnica">Ficha Técnica</a>
        </span>
        <span class="item">
            <a href="~/StreetFighter/Sobre">Sobre</a>
        </span>
    </div>

    <div class="conteudo">
        <div class="titulo">
            <h1>@ViewBag.Title</h1>
        </div>

        @RenderBody()
    </div>
</body>
</html>

