<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head('Cadastro de Elencos')">
        <!-- pega do templates/fragments.html o frament:head -->    
    </head>
    <body>

        <div th:replace="fragments :: navbar">
            <!-- pega do templates/fragments.html o frament:navbar -->
        </div>

        <div class="container">

            <h1 th:text="#{elenco.form}" class="page-header"></h1>

            <form action="#" th:action="@{/elenco}" th:object="${elenco}" method="POST">

                <input type="hidden" th:field="*{id}"/> 

                <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                    <label for="nome" th:text="#{elenco.nome}"></label>
                    <input class="form-control" type="text" th:field="*{nome}" autofocus="true" />
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="help-block"></span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('ator')} ? has-error">
                    <label for="ator" th:text="#{elenco.ator}"></label>
                    <select class="form-control" th:field="*{ator}" multiple="multiple">
                        <option th:each="a : ${atores}" th:value="${a.id}" th:text="${a.nome}"/>
                    </select>
                    <span th:if="${#fields.hasErrors('ator')}" th:errors="*{ator}" class="help-block"></span>
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" th:value="#{form.submit}" />
                    <input class="btn btn-primary" type="reset" th:value="#{form.reset}" />
                </div>


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{elenco.id}" />
                            <th th:text="#{elenco.nome}" />
                            <th th:text="#{elenco.ator}" />
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="e : ${elencos}">
                            <td th:text="${e.id}"></td>
                            <td th:text="${e.nome}"></td>
                            <td>
                                <ul th:each="ator:${e.ator}">
                                    <li th:text="${ator.nome}"></li>
                                </ul>
                            </td>
                            <td>
                                <a th:href="@{${'/elenco'}(id=${e.id})}" class="btn btn-default btn-xs">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </form>

            <div class="alert alert-success" th:if="${msg}">
                <strong>Sucess!</strong> <span th:text="${msg}"></span>
            </div>


            <div th:replace="fragments :: paginator(${elencos}, '/elenco')">

            </div>
        </div>

    </body>
</html>
