<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head('Cadastro de Gêneros')">
        <!-- pega do templates/fragments.html o frament:head -->    
    </head>
    <body>

        <div th:replace="fragments :: navbar">
            <!-- pega do templates/fragments.html o frament:navbar -->
        </div>

        <div class="container">

            <h1 th:text="#{genero.form}" class="page-header"></h1>

            <form action="#" th:action="@{/genero}" th:object="${genero}" method="POST">

                <input type="hidden" th:field="*{id}"/> 

                <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                    <label for="nome" th:text="#{genero.nome}"></label>
                    <input class="form-control" type="text" th:field="*{nome}" autofocus="true" />
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="help-block"></span>
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" th:value="#{form.submit}" />
                    <input class="btn btn-primary" type="reset" th:value="#{form.reset}" />
                </div>


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="#{genero.id}" />
                            <th th:text="#{genero.nome}" />
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="g : ${generos}">
                            <td th:text="${g.id}">ID</td>
                            <td th:text="${g.nome}">NOME</td>
                            <td>
                                <a th:href="@{${'/genero'}(id=${g.id})}" class="btn btn-default btn-xs">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </form>

            <div class="alert alert-success" th:if="${msg}">
                <strong>Sucess!</strong> <span th:text="${msg}"></span>
            </div>


            <div th:replace="fragments :: paginator(${generos}, '/genero')">

            </div>
        </div>

    </body>
</html>
