<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <title th:text="#{title.pessoa}"></title>
    </head>
    
    <body>
        <div class="container">

            <h1 th:text="#{pessoa.form}" class="page-header"></h1>

            <form action="#" th:action="@{/pessoa}" th:object="${pessoa}" method="post">

                <div class="form-group">
                    <label for="nome" th:text="#{pessoa.nome}"></label>
                    <!--<input class="form-control" type="text" th:field="*{nome}" />-->
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" th:value="#{form.submit}" /> 
                    <input class="btn btn-primary" type="reset" th:value="#{form.reset}" />
                </div>
            </form>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th th:text="#{pessoa.id}"/>
                        <th th:text="#{pessoa.nome}"/>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${pessoas}">
                        <td th:text="${p.id}">ID</td>
                        <td th:text="${p.nome}">NOME</td>
                    </tr>
                </tbody>
            </table>

            <ul class="pagination">

                <li th:class="${pessoas.first} ? 'disabled' : ''">
                    <a th:href="@{${'/pessoa'}(page=${0},size=${pessoas.size})}">First</a>
                    <!--<a th:if="${contactsPage.firstPage}" href="javascript:void(0);">F</a>-->
                </li>

                <li th:if="${pessoas.totalPages > 1}" th:each="i : ${#numbers.sequence(1, pessoas.totalPages -1)}">
                    <a th:href="@{${'/pessoa'}(page=${i},size=${pessoas.size})}" th:text="${i}"></a>
                    <!--<a th:if="${contactsPage.firstPage}" href="javascript:void(0);">Previous</a>-->
                </li>

                <li th:class="${pessoas.last} ? 'disabled' : ''">
                    <a th:href="@{${'/pessoa'}(page=${pessoas.totalPages -1},size=${pessoas.size})}">Last</a>
                </li>

            </ul>


            <!--            <div class="table-pagination">
                            <ul class="pagination">
                                <li th:class="${contactsPage.number eq 0} ? 'disabled' : ''">
                                    <a th:if="${not contactsPage.firstPage}" th:href="@{${'/contacts'}(page=${contactsPage.number-1},size=${contactsPage.size})}">Previous</a>
                                    <a th:if="${contactsPage.firstPage}" href="javascript:void(0);">Previous</a>
                                </li>
            
                                <li th:each="pageNo : ${#numbers.sequence(0, contactsPage.totalPages - 1)}" th:class="${contactsPage.number eq pageNo}? 'active' : ''">
                                    <a th:if="${contactsPage.number  eq pageNo}" href="javascript:void(0);">
                                        <span th:text="${pageNo + 1}"></span>
                                    </a>
                                    <a th:if="${not (contactsPage.number  eq pageNo)}" th:href="@{${'/contacts'}(page=${pageNo},size=${contactsPage.size})}">
                                        <span th:text="${pageNo + 1}"></span>
                                    </a>
            
                                </li>
                                <li th:class="${contactsPage.number + 1 ge contactsPage.totalPages} ? 'disabled' : ''">
                                    <a th:if="${not contactsPage.lastPage}" th:href="@{${'/contacts'}(page=${contactsPage.number+1},size=${contactsPage.size})}">Next</a>
                                    <a th:if="${contactsPage.lastPage}" href="javascript:void(0);">Next</a>
                                </li>
                            </ul>
                        </div>-->

        </div>
    </body>

</html>