
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListasPersonagens</title>
</head>
<body>
    <ul>
        <li>Wolverine</li>
        <li>Kirito</li>
        <li>Saitama</li>
        <li>Eren</li>
        <li>Edward</li>
        <li>@ViewBag.PersonagemExtra</li>    
    </ul>
</body>
</html>
